Source/minimax.exe
testers.py
Source/output/minimax.exe
Source/minimax.exe
.vscode/settings.json
Source/minimax.exe
Source/minimax.exe
TextColor.py
a.exe
minimax4.exe
sfsf.exe
sfsf.cpp
Source/Untitled-1.cpp
Source/random.exe
=======
*.user
*.pro.user
build*/
*.o
*.log
*.obj
*.autosave
*.moc
*.qrc.*
*.qmlc
